.modalCont {
    position:fixed; 
    top:0; 
    right: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.modalWindow{
    background: white;
    border-radius: 10px;
    width: 80%;
    height: 100vh;
    padding: 30px 35px;
    position: relative;
    
}

.modalWindow2 {
    padding: 30px 35px;
    overflow: auto;
    height: 90vh;
}

.modalCont .modalWindow .optionSup {
    width: 100%;
}

.optionSup {
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
    border-bottom: 1px solid rgba(128, 128, 128, 0.336);
}


.optionSup > div {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 760px){
    .modalWindow{
        width: 100%;
        height: 100vh;
        padding: 10px;
    }


.modalWindow2 {
    padding: 10px;
    overflow: auto;
    height: 90vh;
}
}