.modalCont {
    position:fixed; 
    top:0; 
    right: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.modalWindow{
    background: white;
    border-radius: 10px;
    width: 80%;
    height: 80vh;
    padding: 30px 35px;
    
}

.modalWindow2 {
    overflow: auto;
    height: 80vh;
}

.modalCont .modalWindow .optionSup {
    display: flex;
    align-items: center;
}

.optionSup {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
    border-bottom: 1px solid rgba(128, 128, 128, 0.336);
    padding: 0 0 10px 0;
}

@media (max-width: 760px){
    .modalWindow{
        width: 85%;
        height: 80vh;
    }
}