.hover:hover{
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  
}

.hover{
    cursor: pointer;
    display:table;
    align-items:center;
    padding:20px 30px;
}